
lex/styles.html
lex/site.webmanifest
lex/safari-pinned-tab.svg
lex/js/plugins.js
lex/js/modernizr.js
lex/js/main.js
lex/site.webmanifest
lex/styles.html
lex/js/jquery-3.2.1.min.js
lex/index.html
lex/images/work in progress.mov
lex/images/wheel-500.jpg
lex/images/wheel-2000.jpg
lex/images/wheel-1000.jpg
lex/images/sample-image.jpg
lex/images/portfolio/trove.jpg
lex/images/portfolio/sedem.jpg
lex/images/portfolio/PEEG.jpg
lex/images/portfolio/MUSIC UI.jpg
lex/images/portfolio/MEJ LOGISTICS.jpg
lex/images/portfolio/maltina.jpg
lex/images/portfolio/lasgidi APARTMENT.jpg
lex/images/portfolio/Greenlight.jpg
lex/images/portfolio/gallery/g-woodcraft.jpg
lex/images/portfolio/IASIS.jpg
lex/images/portfolio/gallery/g-shutterbug.jpg
lex/images/portfolio/gallery/g-salad.jpg
lex/images/portfolio/gallery/g-lamp.jpg
lex/images/portfolio/gallery/g-fuji.jpg
lex/images/portfolio/gallery/g-beetle.jpg
lex/images/portfolio/classy summer.jpg
lex/images/photoswipe/preloader.gif
lex/images/photoswipe/default-skin.svg
lex/images/photoswipe/default-skin.png
lex/images/pattern.jpg
lex/images/maltina.jpg
lex/images/logo.svg
lex/images/logo.png
lex/images/icons/icon-up.svg
lex/images/icons/icon-quote.svg
lex/images/icons/icon-play.svg
lex/images/icon.jpg
lex/images/hero-bg.jpg
lex/images/favicon.png
lex/images/favicon.ico
lex/favicon.ico
lex/css/vendor.css
lex/css/micons/micons.css
lex/css/micons/fonts/icomoon.woff
lex/css/micons/fonts/icomoon.ttf
lex/css/micons/fonts/icomoon.svg
lex/css/micons/fonts/icomoon.eot
lex/css/main.css
lex/css/font-awesome/webfonts/fa-solid-900.woff2
